#headerWrap {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    box-sizing: border-box;
    height: 0px;
    width: 100%;
    height: 100px;
    /* background-color: red; */
    z-index: 20;
}

#headerWrap #upload, #headerWrap #openSearchPopup, #headerWrap #exportToFile {
    position: absolute;
    top: 80px;
    width: 200px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid black;
    background-color: white;
}

#upload {
    left: 700px;
}

#openSearchPopup {
    left: 1000px;
}

#exportToFile {
    left: 1300px;
}

#searchPopup {
    position: absolute;
    left: 700px;
    top: 140px;
    width: 610px;
    height: 75px;
    background-color: white;
    border: 1px solid black;
}

#defaultSearch {
    position: relative;
    left: 25px;
    top: 15px;
}

#selectSearchTarget {
    width: 100px;
    height: 35px;
}

#inputSearchKeyword {
    padding-left: 10px;
    width: 350px;
    height: 33px;
    border: 1px solid black;
}

#btnSearch {
    top: 2px;
    position: relative;
    width: 100px;
    height: 35px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#popupBackgroundDiv {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}