#bookDetail textarea, #bookDetail button {
    text-align: center;
    vertical-align: middle;
}

.btnSave {
    width: 263px;
    height: 138px;
    position: absolute;
    left: 226px;
    top: 648px;
    z-index: 20;
    border: 1px solid black;
}