.bookInfoGridTableHeader {
    height: 22px;
    text-align: center;
}

#bookInfoGridTableHeaderDiv {
    position: absolute;
    border: 0;
    background-color: white;
    width: 948px;
    height: 22px;
    left: 16px;
    top: 31px;
    z-index: 10;
}

#bookInfoGridTableHeaderDiv table {
    table-layout: fixed;
}

#bookInfoGrid {
    position: absolute;
    top: 30px;
    margin-left: 15px;
    width: 964px;
    height: 816px;
    /* border: 1px solid black; */
    overflow: hidden;
}

td.bookId {
    width: 60px;
}

td.gubun {
    width: 50px;
}

td.bookName {
    width: 410px;
}

td.writer {
    width: 140px;
}

td.publisher {
    width: 200px;  
}

td.sellState {
    width: 80px; 
}