#logisticsGrid {
    position: absolute;
    top: 30px;
    margin-left: 15px;
    width: 1466px;
    height: 800px;
    /* border: 1px solid black; */
    /* overflow: hidden; */
}

#btnAddPlatform {
    /* position: absolute; */
    position: relative;
    width: 200px;
    height: 60px;
    left: 15px;
    top: 765px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid black;
}

#btnSaveLogistics {
    position: relative;
    width: 100px;
    height: 60px;
    left: 1174px;
    top: 765px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid black;
}